<h2>New Job Posting</h2>

<%= semantic_form_for @job_posting do |f| %>
  <%= f.inputs do %>
  	<%= f.input :title %> 
  	<%= f.input :company_name %> 
 	 <%= f.input :company_website %> 
  	<%= f.input :company_twitter %> 
  	<%= f.input :description %> 
  	<%= f.input :category %>
  	<%= f.input :is_featured %> 
  	<%= f.input :position_type, :as => :radio, :collection => ['Full-Time', 'Part-Time'] %> 
  	<%= f.input :contract_type, :as => :radio, :collection => ['Permanent', 'Contract', 'Freelance'] %> 
  	<%= f.input :location %> 
  	<%= f.input :skills %> 
  	<%= f.actions do %>
      <%= f.action :submit, :as => :button %>
      <%= f.action :cancel, :as => :link %>
  <% end %>
  <% end %>
<% end %>