<h2><%= @job_posting.title %></h2>
<p><%= @job_posting.company_name %></p>
<p><%= @job_posting.company_website %></p>
<p><%= @job_posting.category %></p>
<p><%= @job_posting.company_twitter %></p>
<p><%= @job_posting.description %></p>
<p><%= @job_posting.position_type %></p>
<p><%= @job_posting.contract_type %></p>
<p><%= @job_posting.location %></p>
<ul><li><%= @job_posting.skills %></li></ul>